body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}

ul, li {
    padding: 0;
    list-style-type: none;
}

.ACPicture {
    height: 500px;
    weight: 500px;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 20px;
}

header {
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family:serif;
}

nav {
    padding: 30px;
    border-right: 1px solid #ddd;
}

nav li {
    text-decoration: underline;
}

article {
    padding: 30px;

}

article h2 {
    font-size: 2.0em;
    max-width: 800;
    font-family: "Lato";
    text-align: center;
    color: #C98639;
}

article h3 {
    font-family: "Tulpen One";
    font-size: 40px;
}

aside {
    border-left: 1px solid #ddd;
    text-align: center;
    padding: 30px;
}

footer {
    grid-column: span 3;
    text-align: center;
    border: 1px solid #ddd;
    padding: 30px;
}

.AC {
padding: 100px;
text-align: center;
border-bottom: 1px solid #ddd;
}

.ACvideo {
    padding: 30px;
}

